:root {
  --green: #008000;
  --black: rgb(29, 27, 27);
  --light_green: #F5FFF5;
  --background:#FFFFFF;
  --box_shadow:#00000040;
  --dash:#F8F8AB;
  --grey:#3F3F3F;
  --small:#000000;
  --faq:#1A1A1A;
}

body{
background-color: lightgray;
box-shadow: inset rgba(249, 248, 248, 1);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;  
}


.wrapper{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.buttonSeller{
  position: absolute;
  top: 250px;
  bottom: 8px;
  padding:1rem; 
  border-radius: 10px;
  width:350px;
  height: 80px;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color:white;
  background-color: var(--green);
}

.buttonBuyer{
  position: absolute;
  bottom: 200px;
  /* margin-bottom: 100px; */
  top: 500px;
  padding:1rem; 
  border-radius: 10px;
  width:350px;
  height: 80px;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  color:black;
  background-color: lightgoldenrodyellow;
  
}









@media(max-width:768px){
  
 
  .wrapper{

    max-width: 100%;
  
  }


}