
:root {
    --green: #008000;
    --black: rgb(29, 27, 27);
    --light_green: #F5FFF5;
    --background:#FFFFFF;
    --box_shadow:#00000040;
    --dash:#F8F8AB;
    --grey:#3F3F3F;
    --small:#000000;
    --faq:#1A1A1A;
  }



body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    box-shadow: inset rgba(249, 248, 248, 1);
    width: 100vh;
    display: flex;
    flex-direction: column;
    
  
}

.wrapper1{
  margin: 9rem 0 0 10rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #800024; */
  width: 200px;
  height: 400px;

}

.buttonSeller{
  margin-top: 4rem;
    padding:1rem; 
    border-radius: 10px;
    width:350px;
    height: 80px;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color:white;
    background-color: var(--green);
}

.buttonBuyer{
  margin-top: 7rem;
    padding:1rem; 
    border-radius: 10px;
    width:350px;
    height: 80px;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color:black;
    background-color: lightgoldenrodyellow;
    
}









  @media(max-width:960px){
    


    .wrapper1{
      right: 00rem; 
      width: 200px;
      height: 200px;
    
    }
    
    .buttonSeller{
      margin-top: 4rem;
        padding:1rem; 
        border-radius: 10px;
        width:150px;
        height: 80px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color:white;
        background-color: var(--green);
    }
    
    .buttonBuyer{
      margin-top: 7rem;
        padding:1rem; 
        border-radius: 10px;
        width:150px;
        height: 80px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color:black;
        background-color: lightgoldenrodyellow;
        
    }


}