body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    width: 100vh;
    
   
}

main{
    margin: 100px 50px 0 50px  ;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: 1871px;
}

h1{
    margin: 70px 0 30px 0;
    text-align: center;
    color: var(--green); 
}

.content {
margin-top: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
letter-spacing: -0.011em;
color: #1A1A1A; 

}


@media (max-width:960px){

    
}